#background {
  height: 100%;
  width: 100%;
  background-image: url("../assets/bg.webp");
  background-color: rgba(255, 255, 255, 0.7);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
